<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		{% block head %}
			<link rel="stylesheet" href="css/styles.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		{% endblock %}
	</head>
		<div class="main-block">
			<div class="inner-block">
				<!-- <img src="http://i.imgur.com/KFev4iO.png" style="height: 200px; width: auto"> -->
				<img src="http://i.imgur.com/llnJ3wK.png" style="max-height: 200px; width: auto">
				<br><br>
				<p>Hello,</p>
				<p>A new vendor has just signed up:<br><br>
				The vendor account url is:<br>
				<blockquote>https://console.firebase.google.com/project/pear-server/database/data/vendors/{{id}}</blockquote><br><br>
				Regards,<br>
				The Pear Team.</p>
			</div>
			<div style="padding-top: 30px;">
				<p>Visit your Pear Hub</p>
				<a class="btn btn-default" href="https://www.pear.life" role="button">Pear</a>
			</div>
		</div>
</html>